<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.agusprayogi02">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Latihan.Default">
        <activity
            android:name=".ui.CrudFileStreamActivity"
            android:exported="true" />
        <activity
            android:name=".ui.DemoRecyclerviewActivity"
            android:exported="true" />
        <activity
            android:name=".ui.CalculatorActivity"
            android:exported="true"
            android:theme="@style/Theme.Latihan.NoActionBar" />
        <activity
            android:name=".ui.GamePuzzleActivity"
            android:exported="true"
            android:theme="@style/Theme.Latihan.NoActionBar" />
        <activity
            android:name=".ui.CekBilanganActivity"
            android:exported="true"
            android:theme="@style/Theme.Latihan.NoActionBar" />
        <activity
            android:name=".ui.LingkaranActivity"
            android:exported="true"
            android:theme="@style/Theme.Latihan.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>